
<div class="container">
    <header>
        <h1>Mi Horario Semanal</h1>
    </header>
    <div class="schedule">
        @for (nombreCurso of cursosList.keys(); track $index) {
            <div class="day">
                <h2>{{nombreCurso}}</h2>
                <ul>
                    @for (curso of getCursosFiltroNombre(nombreCurso+""); track $index) {
                        <li>
                            <h3>{{curso.nivel}}</h3>
                            Horario: {{curso.horario}} <br>
                            Duración: {{curso.duracion}}
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
